{{- if .Values.powertools.enabled }}
---
apiVersion: codriverlabs.ai.toe.run/v1alpha1
kind: PowerToolConfig
metadata:
  name: aperf-config
  namespace: {{ include "toe-operator.namespace" . }}
spec:
  name: "aperf"
  image: {{ include "toe-operator.aperf.image" . }}
  securityContext:
    allowPrivileged: false
    allowHostPID: false
    runAsRoot: true
    capabilities:
      add: ["SYS_PTRACE", "PERFMON", "SYS_ADMIN"]
      drop: ["ALL"]
  allowedNamespaces:
    {{- range .Values.powertools.aperf.allowedNamespaces }}
    - {{ . | quote }}
    {{- end }}
  description: {{ .Values.powertools.aperf.description | quote }}
  version: {{ .Values.powertools.aperf.version | quote }}
  defaultArgs: 
    {{- range .Values.powertools.aperf.defaultArgs }}
    - {{ . | quote }}
    {{- end }}

---
apiVersion: codriverlabs.ai.toe.run/v1alpha1
kind: PowerToolConfig
metadata:
  name: tcpdump-config
  namespace: {{ include "toe-operator.namespace" . }}
spec:
  name: "tcpdump"
  description: {{ .Values.powertools.tcpdump.description | quote }}
  image: {{ include "toe-operator.tcpdump.image" . }}
  defaultArgs:
    {{- range .Values.powertools.tcpdump.defaultArgs }}
    - {{ . | quote }}
    {{- end }}
  securityContext:
    runAsRoot: true
    capabilities:
      add:
        - NET_ADMIN
        - NET_RAW

---
apiVersion: codriverlabs.ai.toe.run/v1alpha1
kind: PowerToolConfig
metadata:
  name: chaos-config
  namespace: {{ include "toe-operator.namespace" . }}
spec:
  name: "chaos"
  description: {{ .Values.powertools.chaos.description | quote }}
  image: {{ include "toe-operator.chaos.image" . }}
  securityContext:
    allowPrivileged: true
    capabilities:
      add:
        - SYS_PTRACE
        - SYS_ADMIN
        - KILL
        - NET_ADMIN
  resources:
    requests:
      memory: {{ .Values.powertools.chaos.resources.requests.memory | quote }}
      cpu: {{ .Values.powertools.chaos.resources.requests.cpu | quote }}
    limits:
      memory: {{ .Values.powertools.chaos.resources.limits.memory | quote }}
      cpu: {{ .Values.powertools.chaos.resources.limits.cpu | quote }}
{{- end }}
